body{
	background-color:#F5F5F5;
}

#login {
    float: none; 
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size:16px;
	
	
}
* {
	box-sizing: border-box;
}
#map, #details {
	width:100%;
	height:50%;
}

#details {
	background: #efefef;
	color: #000;
	overflow:scroll;
	padding:.5rem;
}
#details strong {
	color: #c00;
}

.controls {
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid transparent;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	height: 29px;
	margin-left: 17px;
	margin-top: 10px;
	outline: none;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

.controls:focus {
	border-color: #4d90fe;
}

.nav-sign-in{
	padding-top:7px;
	padding-right:7px;
}

.row {
  margin: 20px 0;
}

.gallery-img {
  padding: 0;
}

.gallery-img::after {
  box-shadow: inset 5px 5px 0px 0 #fff, inset -5px -5px 0px 0 #fff, inset 7px 7px 2px 0 #333, inset -7px -7px 2px 0 #333;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.footer{
	background-color: #212121;
}

.footer>.blackBackground>h1{
	color:white;
	font-size: 18px;
	text-align: center;
	
}

.footer>.blackBackground>form>.form-group>label{
	color:white;
	
}

.footer>.blackBackground>form>.row>.form-group>label{
	color:white;
	
}

.footer>.blackBackground>h3{
	color:white;
	text-align:center;
}

.footer>.blackBackground>h4{
	color:#F5DA5A;
	text-align:center;
}

.text-center{
	text-align: center;
	font-size: 30px;
}

.pub-title{
	text-align: center;
	font-size: 60px;
}

.headerHome>h1{
	font-size: 35px;
}



.grad {
  background: #1A237E; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #263238, #1A237E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #263238, #1A237E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #263238, #1A237E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #263238, #1A237E); /* Standard syntax */
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color:#F5DA5A;
}

.navbar-default .navbar-nav > li > a{
	color:white;
}

.navbar-default > .grad > .navbar-nav > li > a:hover, .navbar-default > .grad > .navbar-nav > li > a:focus{
	color:#F5DA5A;
}

.navbar-default > .grad > .navbar-nav > li > a{
	color:white;
}

.navbar-default > .navbar-header > a:hover, .navbar-default > .navbar-header > a:focus{
	color:#F5DA5A;
}

.navbar-default > .navbar-header > a{
	color:white;
}

.drink-list > h1{
	font-size:50px;
}

.back-img{
	background-color: red;
	width:100%;
}

.navbar-default{
	margin-bottom: unset;
}

.back-img{
	background: #F5F5F5; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #FFECB3, #D1C4E9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #FFECB3, #D1C4E9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #FFECB3, #D1C4E9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #FFECB3, #D1C4E9); /* Standard syntax */
}

.jumbotron{
	background-color: #F5F5F5;
}