#login {
    float: none; 
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size:16px;
	
	
}
* {
	box-sizing: border-box;
}
#map, #details {
	width:100%;
	height:50%;
}

#details {
	background: #efefef;
	color: #000;
	overflow:scroll;
	padding:.5rem;
}
#details strong {
	color: #c00;
}

.controls {
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid transparent;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	height: 29px;
	margin-left: 17px;
	margin-top: 10px;
	outline: none;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

.controls:focus {
	border-color: #4d90fe;
}

.nav-sign-in{
	padding-top:7px;
	padding-right:7px;
}

.row {
  margin: 20px 0;
}

.gallery-img {
  padding: 0;
}

.gallery-img::after {
  box-shadow: inset 5px 5px 0px 0 #fff, inset -5px -5px 0px 0 #fff, inset 7px 7px 2px 0 #333, inset -7px -7px 2px 0 #333;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
